@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
/* ------------------------------ TODO LIST ------------------------------ */
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
}

.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  background-image: url(https://vuejs.org/images/logo.png);
  background-size: contain;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.text--line-through {
  text-decoration: line-through;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

input {
  border-bottom: none !important;
}

.list-item--border-bottom {
  border-bottom: 1px solid lightgray;
}

.slide-enter {
  opacity: 0;
  /*transform: translateY(20px);*/
}

.slide-enter-active {
  animation: slide-in 0.5s ease-out forwards;
  transition: opacity 0.5s;
}

.slide-leave {
}

.slide-leave-active {
  animation: slide-out 0.3s ease-out forwards;
  transition: opacity 0.3s;
  opacity: 0;
  position: absolute;
}

.slide-leave-active > div{
  display: none;
}

.slide-move {
  transition: transform 1s;
}

.slide-move:last-child {
  border-bottom: none;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
